@import url("../../node_modules/@fontsource/nunito/400.css");
@import url("../../node_modules/@fontsource/nunito/800.css");

:root {
  --color-primary: #181818;
  --color-accent: #ed6435;
  --font-primary: "Nunito", sans-serif;
  --padding-section: 0 3rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-primary);
  min-height: 100vh;
  margin: 0;
}

main {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-section);
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.info_button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 2rem;
}
